# Archivos generados por Vivado
*.jou
*.log
*.str
*.dcp
*.bit
*.ltx
*.rpt
*.pb
*.wdb
*.vcd
*.wcfg

# Directorios de proyecto de Vivado
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.gen/
*.srcs/
*.xpr
.Xil/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini
